#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.mode-switcher {
  width: 101px;
  height: 56px;
  background-size: cover;
  rotate: 180deg;
  transition: 0.1s width linear, 0.1s height linear;
}

.mode-switcher:hover {
  width: 112px;
  height: 66px;
  cursor: pointer;
}

.cookie-monster {
  background: url('./assets/cookiemonster.png');
  width: 300px;
  height: 300px;
  background-size: cover;
  margin-top: 32px;
}

.mode-switcher.count-von-counterexample-mode {
  background: url('./assets/cookiemonster.png');
  background-size: cover;
}

.mode-switcher.hookie-monster-mode {
  background: url('./assets/count-von-counterexample.png');
  background-size: cover;
}

.cookie-monster.level4 {
  margin-top: 0px;
}

.cookie-monster.count-von-counterexample-mode {
  background: url('./assets/count-von-counterexample.png');
  background-size: cover;
  background-position-x: -100px;
}

.cookie {
  background: url('./assets/cookie.png');
  width: 128px;
  height: 128px;
  border: none;
  background-size: cover;
  transition: 0.2s width, 0.2s height;
  will-change: width, height;
}

.enough {
  font-weight: bold;
  font-size: 32px;
}

.cookie:hover {
  width: 152px;
  height: 152px;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  align-self: flex-end;
}

.left.level4 {
  align-self: flex-start;
  justify-content: space-between;
  height: 100%;
}

.middle {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  width: 40vw;
}

.middle p {
  margin-bottom: 24px;
}

.right,
.cookie-recipe {
  background: hsla(0, 0%, 0%, 85%);
  width: 30vw;
  text-align: center;
  padding: 16px;
}

.right article {
  overflow-y: auto;
  height: 80vh;
  margin-bottom: 32px;
}

.cookie-recipe article {
  overflow-y: auto;
  width: 90%;
  height: 60vh;
}

.cookie-recipe article p,
.cookie-recipe article li {
  background: none;
  margin: 10px;
  text-align: left;
}

.cookie-recipe article li {
  margin-left: 16px;
}

.cookie-recipe {
  background: white;
  color: black;
  position: absolute;
  left: 65vw;
  height: calc(100vh - 32px);
}

p {
  margin: 0 auto;
  padding: 16px;
  background: lightyellow;
  text-align: center;
  width: fit-content;
}

.right h1,
.right h2 {
  color: white;
}

.right p {
  background: none;
  color: #dbdbdb;
}

.right li {
  text-align: left;
  color: #dbdbdb;
}

.levels {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: auto;
}

.level-link {
  width: 24px;
  height: 24px;
  background: #888;
  border-radius: 64px;
  background: lightgreen;
  transition: 0.2s background linear;
  will-change: background;
}

.level-link:hover {
  background: green;
}

.levels .active {
  background: darkgreen;
  outline: lightgreen 4px solid;
}

.show-recipe-button {
  background: darkblue;
  color: white;
  border: none;
  transition: background 0.2s linear;
  will-change: background;
  padding: 8px;
}

.show-recipe-button:hover {
  background: blue;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cookie {
    animation: spin infinite 5s linear;
  }
}

@media screen and (max-width: 800px) {
  #root {
    flex-direction: column;
  }
  .left,
  .middle {
    width: 100%;
  }
  .left {
    margin-top: 32px;
    height: 60vh;
  }
  .left.level4 {
    margin-top: 0px;
    gap: 32px;
  }
  .middle {
    height: 30vh;
  }
  .middle p {
    display: none;
  }
  .cookie-monster {
    margin: 32px auto;
    width: 200px;
    height: 200px;
  }
  .cookie {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
  .cookie:hover {
    width: 96px;
    height: 96px;
  }
  .right {
    height: 110vh;
    width: calc(100% - 32px);
    padding-bottom: 32px;
    margin-top: 32px;
  }
  .right article {
    height: 60vh;
  }
  .cookie-recipe {
    left: 0;
    width: calc(100vw - 32px);
    top: 30vh;
  }
}
